.da{
  width:200px;
  height:20px;
  background:red;
}
.section{
	/*background:red;*/
	font-size:56px;
	color:#000;
}
$images-path:'../images/';
$images: 01,02,03,04,05;
#fullpage{
  @for $i from 1 through length($images){
     .section:nth-child(#{$i}){
   background:url($images-path+'photo-'+nth($images,$i)+'.jpg');
   background-size:cover;       
     }

  }
}
#section2{
   %fangkuai{
   	  width:200px;
   	  height:200px;	
   	  background:teal;
   	  top:50%;
      position: absolute;
      z-index: 100000;
      border-radius: 50%;
      opacity: 0;
      transition: transform 1s ease, opacity 0.91s ease;
   }
   .zuo{
    @extend %fangkuai;
    /*float: left;*/
   	left:0;
   }
   .you{
   @extend %fangkuai;
   /*float: right;*/
   right:0;
   }
}
#section2.active {
   .zuo{
    opacity:1;
    transform: translateX(800px);

   }
   .you{
   	opacity:1;
   	transform: translateX(-800px);
   }
}

@keyframes zhuiluo {
  0%{
     transform: translateY(-300px);
  }
  100%{
     transform: translateY(100px);
   
  }
}
@keyframes shengqi{
  0%{
    transform: translateY(500px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes zhuan{
  0%{
    transform: rotateX(0deg);
  }
  
  100%{
    transform: rotateY(180deg);
  }
}
#section1{
   h1{
     color:teal;
     transition: transform 2s ease both;
     width:500px;
     margin:0 auto;
   }
}
#section1.active {
  h1{
/*   animation-name: zhuiluo;
   animation-duration: 4s;   // 动画时长
   animation-timing-function: cubic-bezier(0.2,2,1,1);  //动画运动方式
   animation-fill-mode: both;      //动画最终停留的状态
   animation-direction: reverse;    
   animation-iteration-count: infinite;  //动画运动次数
   animation-direction: alternate;   //动画来回
   animation-play-state: paused;    //js 中对动画的控制
   animation-delay: 1s    //动画延迟
*/

   animation: zhuan 1s ease infinite;
  }


}
